.App {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1521404567986-a2c39cde0c31?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  margin: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFFF00;
  
}

.faux {
  font-style:italic;
  text-decoration: line-through;
  color: #FFFF00;
}

.vrai{
  font-style:italic;
  
  color: #FFFF00;
}


h3 {
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  color: #FFFF00;
  font-style:italic;
}

